In [5]:
#!pip install pandas
#!pip install matplotlib
#!pip install sklearn
!pip install seaborn

Collecting seaborn
  Downloading seaborn-0.11.2-py3-none-any.whl (292 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 292.8/292.8 kB 11.7 MB/s eta 0:00:00
Requirement already satisfied: pandas>=0.23 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from seaborn) (1.4.3)
Requirement already satisfied: matplotlib>=2.2 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from seaborn) (3.5.2)
Requirement already satisfied: numpy>=1.15 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from seaborn) (1.23.1)
Requirement already satisfied: scipy>=1.0 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from seaborn) (1.9.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (1.4.4)
Requirement already satisfied: pyparsing>=2.2.1 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (3.0.9)
Requirement already satisfied: fonttools>=4.22.0 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (4.34.4)
Requirement already satisfied: pillow>=6.2.0 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (9.2.0)
Requirement already satisfied: python-dateutil>=2.7 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: packaging>=20.0 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (21.3)
Requirement already satisfied: cycler>=0.10 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (0.11.0)
Requirement already satisfied: pytz>=2020.1 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from pandas>=0.23->seaborn) (2022.1)
Requirement already satisfied: six>=1.5 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from python-dateutil>=2.7->matplotlib>=2.2->seaborn) (1.16.0)
Installing collected packages: seaborn
Successfully installed seaborn-0.11.2

[notice] A new release of pip available: 22.2 -> 22.2.1
[notice] To update, run: pip install --upgrade pip

In [11]:
print(pd.__version__)
print(sns.__version__)

1.4.3
0.11.2

In [7]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import sklearn

In [13]:
movies = pd.read_csv('https://raw.githubusercontent.com/4GeeksAcademy/k-nearest-neighbors-project-tutorial/main/tmdb_5000_movies.csv')
credits = pd.read_csv('../data/raw/tmdb_5000_credits.csv')

Step 2:

Explore the dataset by looking at the first rows and the number of rows and columns.

In [14]:
movies.sample(10)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
1038,25000000,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 18, ""name...",http://www.theinfiltrator.com/,325789,"[{""id"": 1568, ""name"": ""undercover""}, {""id"": 55...",en,The Infiltrator,A U.S Customs official uncovers a massive mone...,24.672234,"[{""name"": ""Good Films"", ""id"": 68620}]","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""}]",2016-07-13,15436808,127.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,The true story of one man against the biggest ...,The Infiltrator,6.6,573
4345,3500000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...",http://www.bluevalentinemovie.com/,46705,"[{""id"": 246, ""name"": ""dancing""}, {""id"": 428, ""...",en,Blue Valentine,Dean and Cindy live a quiet life in a modest n...,26.881611,"[{""name"": ""Hunting Lane Films"", ""id"": 2290}, {...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2010-12-27,16566240,112.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Nobody Baby But You And Me,Blue Valentine,6.9,890
369,95000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",NaN,1996,"[{""id"": 483, ""name"": ""riddle""}, {""id"": 1454, ""...",en,Lara Croft Tomb Raider: The Cradle of Life,Lara Croft ventures to an underwater temple in...,56.811056,"[{""name"": ""Paramount Pictures"", ""id"": 4}, {""na...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2003-07-21,156505388,117.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Adventuress Lara Croft goes on a quest to save...,Lara Croft Tomb Raider: The Cradle of Life,5.5,1418
4150,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",NaN,174311,"[{""id"": 5570, ""name"": ""christmas tree""}, {""id""...",en,All Is Bright,Two French Canadian ne’er-do-wells travel to N...,3.613577,"[{""name"": ""Sidney Kimmel Entertainment"", ""id"":...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-09-10,0,107.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,All is busted. All is broke. All is bitter. Al...,All Is Bright,5.3,36
4392,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 80, ""nam...",NaN,16155,"[{""id"": 642, ""name"": ""robbery""}, {""id"": 10291,...",en,Safe Men,Two untalented singers are mistaken for a pair...,1.190729,"[{""name"": ""October Films"", ""id"": 236}, {""name""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1998-08-17,0,88.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Welcome to the world of disorganised crime.,Safe Men,6.3,16
2693,0,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10402, ""n...",NaN,12637,"[{""id"": 242, ""name"": ""new york""}, {""id"": 1416,...",en,"New York, New York",An egotistical saxophone player and a young si...,3.876242,"[{""name"": ""United Artists"", ""id"": 60}, {""name""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1977-06-21,0,155.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"New York, New York",6.1,67
2454,16000000,"[{""id"": 35, ""name"": ""Comedy""}]",NaN,8467,"[{""id"": 1420, ""name"": ""gas station""}, {""id"": 2...",en,Dumb and Dumber,Lloyd and Harry are two men whose stupidity is...,35.777067,"[{""name"": ""New Line Cinema"", ""id"": 12}, {""name...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1994-12-16,247275374,107.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"What the one doesn't have, the other is missing.",Dumb and Dumber,6.5,1859
2792,12500000,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 18, ""name...",NaN,9504,"[{""id"": 642, ""name"": ""robbery""}, {""id"": 1438, ...",en,Glengarry Glen Ross,"Glengarry Glen Ross, follows the lives of four...",13.939054,"[{""name"": ""New Line Cinema"", ""id"": 12}, {""name...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1992-09-15,10725228,100.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Lie. Cheat. Steal. All in a day’s work.,Glengarry Glen Ross,7.5,323
1249,40000000,"[{""id"": 28, ""name"": ""Action""}]",NaN,10718,"[{""id"": 1595, ""name"": ""ex-girlfriend""}, {""id"":...",en,Torque,Biker Cary Ford is framed by an old rival and ...,7.360793,"[{""name"": ""Village Roadshow Pictures"", ""id"": 7...","[{""iso_3166_1"": ""AU"", ""name"": ""Australia""}, {""...",2004-01-16,46546197,84.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Circuit of Fire,Torque,4.7,119
685,53000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 35, ""nam...",NaN,9955,"[{""id"": 271, ""name"": ""competition""}, {""id"": 20...",en,Blades of Glory,When a much-publicized ice-skating scandal str...,19.412028,"[{""name"": ""DreamWorks"", ""id"": 7}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-03-30,0,93.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Kick Some Ice.,Blades of Glory,5.9,569

In [15]:
credits.sample(10)

,movie_id,title,cast,crew
2514,744,Top Gun,"[{""cast_id"": 13, ""character"": ""Pete 'Maverick'...","[{""credit_id"": ""52fe426fc3a36847f801e685"", ""de..."
1947,49953,A Turtle's Tale: Sammy's Adventures,"[{""cast_id"": 2, ""character"": ""Sammy (voice)"", ...","[{""credit_id"": ""58e81c2fc3a3684a79048cc5"", ""de..."
2306,10065,The Amityville Horror,"[{""cast_id"": 25, ""character"": ""George Lutz"", ""...","[{""credit_id"": ""52fe43199251416c75003567"", ""de..."
2560,17127,The Object of My Affection,"[{""cast_id"": 1, ""character"": ""Nina Borowski"", ...","[{""credit_id"": ""58fb95ac92514163ec010863"", ""de..."
2749,11186,Child's Play 2,"[{""cast_id"": 1, ""character"": ""Andy Barclay"", ""...","[{""credit_id"": ""52fe440b9251416c75026fa5"", ""de..."
482,10197,Nine,"[{""cast_id"": 15, ""character"": ""Lilli"", ""credit...","[{""credit_id"": ""52fe43409251416c7500933d"", ""de..."
3810,251979,The Perfect Wave,"[{""cast_id"": 6, ""character"": ""Ian McCormack"", ...","[{""credit_id"": ""52fe4e299251416c911287c3"", ""de..."
992,9923,Domino,"[{""cast_id"": 24, ""character"": ""Domino Harvey"",...","[{""credit_id"": ""52fe454ac3a36847f80c5e15"", ""de..."
4117,24746,Six-String Samurai,"[{""cast_id"": 1, ""character"": ""Buddy"", ""credit_...","[{""credit_id"": ""52fe44a6c3a368484e02f2cb"", ""de..."
3699,1429,25th Hour,"[{""cast_id"": 1, ""character"": ""Monty Brogan"", ""...","[{""credit_id"": ""52fe42f6c3a36847f80302cf"", ""de..."

Step 3:

Merge both dataframes on the 'title' column.

In [16]:
movies = movies.merge(credits, on='title')

Step 4:

We will work only with the following columns:

-movie_id

-title

-overview

-genres

-keywords

-cast

-crew

In [17]:
movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [18]:
movies.sample(5)

,movie_id,title,overview,genres,keywords,cast,crew
50,9543,Prince of Persia: The Sands of Time,A rogue prince reluctantly joins forces with a...,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 1241, ""name"": ""persia""}, {""id"": 1965, ...","[{""cast_id"": 5, ""character"": ""Prince Dastan"", ...","[{""credit_id"": ""567e74d4c3a36860e9008e46"", ""de..."
2845,10220,Rounders,A young man is a reformed gambler who must ret...,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 80, ""name...","[{""id"": 395, ""name"": ""gambling""}, {""id"": 3703,...","[{""cast_id"": 1, ""character"": ""Mike McDermott"",...","[{""credit_id"": ""555869119251410b39000780"", ""de..."
2632,6552,Idle Hands,Anton is a cheerful but exceedingly non-ambiti...,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 35, ""n...","[{""id"": 13130, ""name"": ""teenager""}, {""id"": 155...","[{""cast_id"": 1, ""character"": ""Anton"", ""credit_...","[{""credit_id"": ""52fe445ac3a36847f8090f0d"", ""de..."
902,9390,Jerry Maguire,Jerry Maguire used to be a typical sports agen...,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...","[{""id"": 1485, ""name"": ""stadium""}, {""id"": 3658,...","[{""cast_id"": 1, ""character"": ""Jerry Maguire"", ...","[{""credit_id"": ""52fe44f1c3a36847f80b33c7"", ""de..."
986,2252,Eastern Promises,A Russian teenager living in London who dies d...,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 80, ""n...","[{""id"": 212, ""name"": ""london england""}, {""id"":...","[{""cast_id"": 8, ""character"": ""Anna Khitrova"", ...","[{""credit_id"": ""52fe4346c3a36847f8047983"", ""de..."

Step 5:

As there are only 3 missing values in the 'overview' column, drop them.

In [20]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4809 non-null   int64
 1   title     4809 non-null   object
 2   overview  4806 non-null   object
 3   genres    4809 non-null   object
 4   keywords  4809 non-null   object
 5   cast      4809 non-null   object
 6   crew      4809 non-null   object
dtypes: int64(1), object(6)
memory usage: 300.6+ KB

In [21]:
movies.dropna(inplace = True)

Step 6:

As you can see there are some columns with json format. With the following code, you can view what genres are included in the first row.

In [23]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

We will start converting these columns using a function to obtain only the genres, without a json format. We are only interested in the values of the 'name' keys

In [24]:
import ast

def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [25]:
movies['genres'] = movies['genres'].apply(convert)
movies.sample(5)

,movie_id,title,overview,genres,keywords,cast,crew
621,300673,The Finest Hours,The Coast Guard makes a daring rescue attempt ...,"[Action, Drama, History, Thriller]","[{""id"": 3547, ""name"": ""coast guard""}, {""id"": 9...","[{""cast_id"": 0, ""character"": ""Bernie Webber"", ...","[{""credit_id"": ""56e4d210c3a3685aa8004f7d"", ""de..."
94,118340,Guardians of the Galaxy,"Light years from Earth, 26 years after being a...","[Action, Science Fiction, Adventure]","[{""id"": 8828, ""name"": ""marvel comic""}, {""id"": ...","[{""cast_id"": 1, ""character"": ""Peter Quill / St...","[{""credit_id"": ""538ce329c3a3687155003358"", ""de..."
1715,192577,Space Pirate Captain Harlock,Space Pirate Captain Harlock and his fearless ...,"[Animation, Science Fiction]",[],"[{""cast_id"": 1, ""character"": ""Captain Harlock ...","[{""credit_id"": ""52fe4cac9251416c910fc711"", ""de..."
4479,58428,The Innkeepers,During the final days at the Yankee Pedlar Inn...,"[Horror, Thriller]","[{""id"": 139, ""name"": ""anti terror""}, {""id"": 32...","[{""cast_id"": 3, ""character"": ""Claire"", ""credit...","[{""credit_id"": ""5877d149925141104700a0f5"", ""de..."
2767,14577,Dirty Work,"Unemployed and recently dumped, Mitch and his ...",[Comedy],[],"[{""cast_id"": 1, ""character"": ""Mitch Weaver"", ""...","[{""credit_id"": ""52fe46039251416c7506a13d"", ""de..."

Repeat the process for the 'keywords' column.

In [26]:
movies['keywords'] = movies['keywords'].apply(convert)

For the 'cast' column we will create a new but similar function. This time we will limit the number of items to three.

In [27]:
def convert3(obj):
    L = []
    count = 0
    for i in ast.literal_eval(obj):
        if count < 3:
            L.append(i['name'])
        count +=1  
    return L

In [28]:
movies['cast'] = movies['cast'].apply(convert3)

In [29]:
movies.sample(5)

,movie_id,title,overview,genres,keywords,cast,crew
4578,15389,Metropolitan,A sparkling comedic chronicle of a middle-clas...,"[Comedy, Drama]","[upper class, new york, independent film, debu...","[Edward Clements, Chris Eigeman, Taylor Nichols]","[{""credit_id"": ""52fe46559251416c75074ffb"", ""de..."
376,10357,Volcano,An earthquake shatters a peaceful Los Angeles ...,"[Science Fiction, Action, Drama, Thriller]","[subway, lava, volcano, volcanologist, los ang...","[Tommy Lee Jones, Anne Heche, Gaby Hoffmann]","[{""credit_id"": ""52fe435f9251416c7500dded"", ""de..."
996,11863,Jade,Someone does a nasty hatchet job on a San Fran...,"[Action, Thriller, Mystery, Romance]","[callgirl, san francisco, investigation, murder]","[David Caruso, Linda Fiorentino, Chazz Palmint...","[{""credit_id"": ""52fe44959251416c75039f45"", ""de..."
262,120,The Lord of the Rings: The Fellowship of the Ring,"Young hobbit Frodo Baggins, after inheriting a...","[Adventure, Fantasy, Action]","[elves, dwarves, orcs, middle-earth (tolkien),...","[Elijah Wood, Ian McKellen, Cate Blanchett]","[{""credit_id"": ""52fe421ac3a36847f80043fb"", ""de..."
1773,8080,Suspect Zero,"A killer is on the loose, and an FBI agent sif...","[Crime, Thriller]",[serial killer],"[Carrie-Anne Moss, Aaron Eckhart, Ben Kingsley]","[{""credit_id"": ""52fe4492c3a36847f809daeb"", ""de..."

The only columns left to modify are 'crew' and 'overview'. For the 'crew', we will create a new function that allows to obtain only the values of the 'name' keys for whose 'job' value is 'Director'. To sum up, we are trying to get the name of the director.

In [30]:
def fetch_director(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [31]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [32]:
movies.sample(3)

,movie_id,title,overview,genres,keywords,cast,crew
403,9593,Last Action Hero,Danny is obsessed with a fictional movie chara...,"[Adventure, Fantasy, Action, Comedy, Family]","[magic, movie in movie, spoof, magical object,...","[Arnold Schwarzenegger, F. Murray Abraham, Art...",[John McTiernan]
150,608,Men in Black II,"Kay and Jay reunite to provide our best, last ...","[Action, Adventure, Comedy, Science Fiction]","[saving the world, secret identity, sun glasse...","[Tommy Lee Jones, Will Smith, Rip Torn]",[Barry Sonnenfeld]
1683,1874,Goodbye Bafana,The true story of a white South African racist...,"[History, Drama]","[jail guard, prison cell, south africa, aparth...","[Joseph Fiennes, Dennis Haysbert, Diane Kruger]",[Bille August]

Finally, let's look at the first row of the 'overview' column:

In [33]:
movies.overview[0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

For the 'overview' column, we will convert it in a list by using 'split()' methode.

In [34]:
movies['overview'] = movies['overview'].apply(lambda x : x.split())

In [35]:
movies.overview[0]

['In',
 'the',
 '22nd',
 'century,',
 'a',
 'paraplegic',
 'Marine',
 'is',
 'dispatched',
 'to',
 'the',
 'moon',
 'Pandora',
 'on',
 'a',
 'unique',
 'mission,',
 'but',
 'becomes',
 'torn',
 'between',
 'following',
 'orders',
 'and',
 'protecting',
 'an',
 'alien',
 'civilization.']

Step 7:

For the recommender system to do not get confused, for example between 'Jennifer Aniston' and 'Jennifer Conelly', we will remove spaces between words with a function.

In [36]:
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

Apply our function to the 'genres', 'cast', 'crew' and 'keywords' columns

In [37]:
movies['cast'] = movies['cast'].apply(collapse)
movies['crew'] = movies['crew'].apply(collapse)
movies['genres'] = movies['genres'].apply(collapse)
movies['keywords'] = movies['keywords'].apply(collapse)

Step 8:

We will reduce our dataset by combining all our previous converted columns into only one column named 'tags' (which we will create). This column will now have ALL items separated by commas, but we will ignore commas by using lambda x :" ".join(x).

In [38]:
movies['tags'] = movies['overview']+movies['genres']+movies['keywords']+movies['cast']+movies['crew']

In [39]:
new_df = movies[['movie_id','title','tags']]

new_df['tags'] = new_df['tags'].apply(lambda x :" ".join(x))

/tmp/ipykernel_2233/2759419224.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x :" ".join(x))

In [40]:
new_df['tags'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver JamesCameron'

In [42]:
new_df.sample(3)

,movie_id,title,tags
3148,667,You Only Live Twice,A mysterious space craft kidnaps a Russian and...
94,118340,Guardians of the Galaxy,"Light years from Earth, 26 years after being a..."
1840,88042,Parental Guidance,Artie and Diane agree to look after their thre...

Step 9:

We will use KNN algorithm to build the recommender system. Before entering the model let's proceed with the text vectorization which you already learned in the NLP lesson.

In [43]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000 ,stop_words='english')
vectors = cv.fit_transform(new_df['tags']).toarray()
vectors.shape

(4806, 5000)

In [44]:
cv.get_feature_names()

/home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['000',
 '007',
 '10',
 '100',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '18th',
 '19',
 '1930s',
 '1940s',
 '1950',
 '1950s',
 '1960s',
 '1970s',
 '1980',
 '1980s',
 '1985',
 '1990s',
 '1999',
 '19th',
 '19thcentury',
 '20',
 '200',
 '2009',
 '20th',
 '24',
 '25',
 '30',
 '300',
 '3d',
 '40',
 '50',
 '500',
 '60',
 '60s',
 '70',
 '70s',
 'aaron',
 'aaroneckhart',
 'abandoned',
 'abducted',
 'abigailbreslin',
 'abilities',
 'ability',
 'able',
 'aboard',
 'abuse',
 'abusive',
 'academy',
 'accept',
 'accepted',
 'accepts',
 'access',
 'accident',
 'accidental',
 'accidentally',
 'accompanied',
 'accomplish',
 'account',
 'accountant',
 'accused',
 'ace',
 'achieve',
 'act',
 'acting',
 'action',
 'actionhero',
 'actions',
 'activist',
 'activities',
 'activity',
 'actor',
 'actors',
 'actress',
 'acts',
 'actual',
 'actually',
 'adam',
 'adams',
 'adamsandler',
 'adamshankman',
 'adaptation',
 'adapted',
 'addict',
 'addicted',
 'addiction',
 'adolescence',
 'adolescent',
 'adopt',
 'adopted',
 'adoption',
 'adopts',
 'adrienbrody',
 'adult',
 'adultanimation',
 'adultery',
 'adulthood',
 'adults',
 'advantage',
 'adventure',
 'adventures',
 'advertising',
 'advice',
 'affair',
 'affairs',
 'affection',
 'affections',
 'afghanistan',
 'africa',
 'african',
 'africanamerican',
 'aftercreditsstinger',
 'afterlife',
 'aftermath',
 'age',
 'aged',
 'agedifference',
 'agency',
 'agenda',
 'agent',
 'agents',
 'aggressive',
 'aging',
 'ago',
 'agree',
 'agrees',
 'ahead',
 'aid',
 'aided',
 'aids',
 'ailing',
 'air',
 'airplane',
 'airplanecrash',
 'airport',
 'aka',
 'al',
 'alabama',
 'alan',
 'alaska',
 'albert',
 'alcohol',
 'alcoholic',
 'alcoholism',
 'alecbaldwin',
 'alex',
 'alfredhitchcock',
 'ali',
 'alice',
 'alien',
 'alieninvasion',
 'alienlife',
 'aliens',
 'alike',
 'alive',
 'allen',
 'alliance',
 'allied',
 'allies',
 'allow',
 'allowing',
 'allows',
 'ally',
 'alongside',
 'alpacino',
 'alpha',
 'alter',
 'alternate',
 'alternative',
 'alzheimer',
 'amanda',
 'amandapeet',
 'amandaseyfried',
 'amateur',
 'amazing',
 'ambassador',
 'ambition',
 'ambitious',
 'ambulance',
 'ambush',
 'america',
 'american',
 'americanabroad',
 'americanfootball',
 'americans',
 'amid',
 'amidst',
 'amnesia',
 'amp',
 'amsterdam',
 'amusementpark',
 'amy',
 'amyadams',
 'amysmart',
 'ana',
 'anakin',
 'analyst',
 'anarchiccomedy',
 'ancient',
 'ancientrome',
 'ancientworld',
 'anderson',
 'andiemacdowell',
 'andrew',
 'android',
 'andy',
 'andygarcía',
 'angel',
 'angelabassett',
 'angeles',
 'angelinajolie',
 'angels',
 'anger',
 'anglee',
 'angry',
 'animal',
 'animalattack',
 'animalhorror',
 'animals',
 'animated',
 'animation',
 'anna',
 'annafaris',
 'anne',
 'annehathaway',
 'annemoss',
 'annettebening',
 'annie',
 'anniversary',
 'annual',
 'answer',
 'answers',
 'ant',
 'anthology',
 'anthony',
 'anthonyanderson',
 'anthonyhopkins',
 'anthropomorphism',
 'anti',
 'antics',
 'antihero',
 'antoinefuqua',
 'antoniobanderas',
 'antonyelchin',
 'apart',
 'apartheid',
 'apartment',
 'ape',
 'apes',
 'apocalypse',
 'apocalyptic',
 'apparent',
 'apparently',
 'appear',
 'appears',
 'apple',
 'appointed',
 'apprentice',
 'approach',
 'approaches',
 'approaching',
 'april',
 'aquarium',
 'arab',
 'arch',
 'archaeologist',
 'architect',
 'arctic',
 'area',
 'aren',
 'arena',
 'argument',
 'arise',
 'aristocrat',
 'armed',
 'arms',
 'army',
 'arnold',
 'arnoldschwarzenegger',
 'arrangedmarriage',
 'arrest',
 'arrested',
 'arrival',
 'arrive',
 'arrives',
 'arriving',
 'arrogant',
 'art',
 'arthur',
 'artificialintelligence',
 'artist',
 'artistic',
 'artists',
 'arts',
 'ashley',
 'ashleyjudd',
 'ashtonkutcher',
 'asia',
 'asian',
 'aside',
 'ask',
 'asked',
 'asking',
 'asks',
 'aspirations',
 'aspiring',
 'assassin',
 'assassinate',
 'assassination',
 'assassins',
 'assault',
 'assigned',
 'assignment',
 'assistant',
 'assumes',
 'asteroid',
 'astronaut',
 'astronauts',
 'asylum',
 'athlete',
 'atomicbomb',
 'attack',
 'attacked',
 'attacks',
 'attempt',
 'attempting',
 'attempts',
 'attending',
 'attends',
 'attention',
 'attitude',
 'attorney',
 'attracted',
 'attraction',
 'attractive',
 'audience',
 'audiences',
 'audition',
 'august',
 'aunt',
 'austin',
 'australia',
 'australian',
 'author',
 'authorities',
 'authority',
 'autism',
 'auto',
 'automobileracing',
 'avenge',
 'average',
 'avoid',
 'awaits',
 'awakens',
 'award',
 'away',
 'awry',
 'ax',
 'babe',
 'baby',
 'bachelor',
 'backdrop',
 'backed',
 'background',
 'backgrounds',
 'bad',
 'badly',
 'bag',
 'bahamas',
 'bail',
 'balance',
 'ball',
 'ballet',
 'baltimore',
 'band',
 'bandits',
 'bangkok',
 'banished',
 'bank',
 'banker',
 'bankrobber',
 'bankrobbery',
 'bar',
 'barely',
 'bargained',
 'barn',
 'barney',
 'barry',
 'barrylevinson',
 'bars',
 'base',
 'baseball',
 'based',
 'basedoncomicbook',
 'basedongraphicnovel',
 'basedonnovel',
 'basedonplay',
 'basedonstagemusical',
 'basedontrueevents',
 'basedontruestory',
 'basedontvseries',
 'basedonvideogame',
 'basedonyoungadultnovel',
 'basement',
 'basketball',
 'batman',
 'battle',
 'battlefield',
 'battles',
 'battling',
 'bay',
 'beach',
 'bear',
 'bears',
 'beast',
 'beasts',
 'beat',
 'beating',
 'beautiful',
 'beautifulwoman',
 'beauty',
 'becky',
 'becominganadult',
 'bed',
 'bedroom',
 'beer',
 'befriends',
 'began',
 'begin',
 'beginning',
 'begins',
 'behavior',
 'beings',
 'beliefs',
 'believe',
 'believed',
 'believes',
 'believing',
 'beloved',
 'ben',
 'benaffleck',
 'beneath',
 'benfoster',
 'beniciodeltoro',
 'benjamin',
 'benjaminbratt',
 'benkingsley',
 'bennett',
 'benstiller',
 'bent',
 'berlin',
 'best',
 'bestfriend',
 'bestfriendsinlove',
 'bet',
 'beth',
 'betrayal',
 'betrayed',
 'bettemidler',
 'better',
 'betty',
 'beverly',
 'bible',
 'big',
 'bigger',
 'biggest',
 'biker',
 'bikini',
 'billhader',
 'billionaire',
 'billmurray',
 'billnighy',
 'billpaxton',
 'billpullman',
 'billy',
 'billybobthornton',
 'billycrudup',
 'billycrystal',
 'biography',
 'bird',
 'birth',
 'birthday',
 'bisexual',
 'bishop',
 'bit',
 'bite',
 'bitter',
 'bizarre',
 'black',
 'blackmagic',
 'blackmail',
 'blackpeople',
 'blacksmith',
 'blade',
 'blame',
 'blind',
 'bliss',
 'block',
 'blonde',
 'blood',
 'bloodsplatter',
 'bloodthirsty',
 'bloody',
 'blow',
 'blue',
 'board',
 'boarding',
 'boardingschool',
 'boat',
 'bob',
 'bobby',
 'bobbyfarrelly',
 'bobhoskins',
 'bodies',
 'body',
 'bodyguard',
 'bold',
 'bollywood',
 'bomb',
 'bombing',
 'bond',
 'bonds',
 'bone',
 'book',
 'books',
 'border',
 'bored',
 'boredom',
 'boring',
 'born',
 'boss',
 'boston',
 'botched',
 'bound',
 'boundaries',
 'bounty',
 'bountyhunter',
 'bourne',
 'box',
 'boxer',
 'boxing',
 'boy',
 'boyfriend',
 'boys',
 'bradleycooper',
 'bradpitt',
 'brain',
 'brand',
 'brave',
 'bravery',
 'brazil',
 'brazilian',
 'break',
 'breakdown',
 'breaking',
 'breaks',
 'brendanfraser',
 'brendangleeson',
 'brent',
 'brettratner',
 'brian',
 'briandepalma',
 'bride',
 'bridesmaid',
 'bridge',
 'brief',
 'brielarson',
 'brien',
 'bright',
 'brilliant',
 'bring',
 'bringing',
 'brings',
 'brink',
 'britain',
 'british',
 'britishsecretservice',
 'brittanymurphy',
 'broadway',
 'broke',
 'broken',
 'broker',
 'bronx',
 'brooklyn',
 'brooks',
 'broom',
 'brothel',
 'brother',
 'brotherbrotherrelationship',
 'brothers',
 'brothersisterrelationship',
 'brought',
 'brown',
 'bruce',
 'brucegreenwood',
 'brucewillis',
 'brutal',
 'brutality',
 'brutally',
 'bryansinger',
 'buck',
 'buddies',
 'buddy',
 'buddycomedy',
 'budget',
 'build',
 'building',
 'built',
 'bully',
 'bullying',
 'bumbling',
 'bunny',
 'burglar',
 'buried',
 'bus',
 'bush',
 'business',
 'businessman',
 'bust',
 'busy',
 'butcher',
 'butler',
 'buy',
 'cabin',
 'caesar',
 'cage',
 'cairo',
 'cal',
 'california',
 'called',
 'calls',
 'calvin',
 'camcorder',
 'came',
 'camera',
 'cameraman',
 'cameras',
 'camerondiaz',
 'camp',
 'campaign',
 'campbell',
 'camping',
 'campus',
 'canada',
 'canadian',
 'cancer',
 'candidate',
 'candy',
 'cannibal',
 'capable',
 'capital',
 'capitalism',
 'capt',
 'captain',
 'captive',
 'capture',
 'captured',
 'captures',
 'car',
 'caraccident',
 'carchase',
 'carcrash',
 'card',
 'care',
 'career',
 'carefree',
 'caretaker',
 'caribbean',
 'carjourney',
 'carl',
 'carlagugino',
 'carmen',
 'carol',
 'carolina',
 'carrace',
 'carrie',
 'carry',
 'carrying',
 'cars',
 'cartel',
 'carter',
 'cartoon',
 'caryelwes',
 'case',
 'caseyaffleck',
 'cash',
 'casino',
 'cast',
 'castle',
 'cat',
 'cataclysm',
 'catastrophe',
 'catch',
 'catches',
 'cateblanchett',
 'catherinedeneuve',
 'catherinekeener',
 'catherinezeta',
 'catholic',
 'catholicism',
 'cattle',
 'caught',
 'cause',
 'caused',
 'causes',
 'causing',
 'cavalry',
 'cave',
 'cavemen',
 'celebrate',
 'celebrated',
 'celebration',
 'celebrity',
 'cellphone',
 'cemetery',
 'center',
 'centered',
 'centers',
 'central',
 'centuries',
 'century',
 'ceremony',
 'certain',
 'chain',
 'chainsaw',
 'challenge',
 'challenged',
 'challenges',
 'champion',
 'championship',
 'chance',
 'change',
 'changed',
 'changes',
 'changing',
 'channingtatum',
 'chaos',
 'chaotic',
 'chapter',
 'character',
 'characters',
 'charge',
 'charged',
 'charismatic',
 'charles',
 'charlie',
 'charliesheen',
 'charlizetheron',
 'charlotte',
 'charm',
 'charming',
 'chase',
 'chased',
 'chases',
 'chauffeur',
 'chazzpalminteri',
 'cheating',
 'cheerleader',
 'chef',
 'chemical',
 'cher',
 'chicago',
 'chicken',
 'chief',
 'child',
 'childabuse',
 'childhero',
 'childhood',
 'children',
 'chilling',
 'china',
 'chinese',
 'chip',
 'chiwetelejiofor',
 'chloëgracemoretz',
 'chloësevigny',
 'chocolate',
 'choice',
 'choices',
 'choose',
 'chosen',
 'chowyun',
 'chris',
 'chriscolumbus',
 'chriscooper',
 'chrisevans',
 'chrishemsworth',
 'chrisklein',
 'chrispine',
 'chrisrock',
 'christ',
 'christian',
 'christianbale',
 'christianity',
 'christianslater',
 'christinaapplegate',
 'christinaricci',
 'christine',
 'christmas',
 'christmasparty',
 'christopher',
 'christopherlloyd',
 'christophernolan',
 'christopherplummer',
 'christopherwalken',
 'christophwaltz',
 'chrisweitz',
 'chronicle',
 'chronicles',
 'chuck',
 'church',
 'cia',
 'cigarettesmoking',
 'cillianmurphy',
 'cindy',
 'cinema',
 'circle',
 'circuit',
 'circumstances',
 'circus',
 'cities',
 'citizens',
 'city',
 'civil',
 'civilian',
 'civilization',
 'civilwar',
 'claim',
 'claims',
 'claire',
 'clairedanes',
 'clan',
 'clark',
 'clash',
 'class',
 'classes',
 'classic',
 'classmate',
 'classmates',
 'classroom',
 'claudevandamme',
 'clay',
 'clean',
 'clear',
 'clerk',
 'client',
 'clients',
 'climate',
 'climbing',
 'clinteastwood',
 'clique',
 'cliveowen',
 'clock',
 'clone',
 'cloning',
 'close',
 'closed',
 'closer',
 'club',
 'clubs',
 'clues',
 'clutches',
 'coach',
 'coast',
 'cocaine',
 'code',
 'cody',
 'coffin',
 'cohen',
 'col',
 'cold',
 'coldwar',
 'cole',
 'colin',
 'colinfarrell',
 'colinfirth',
 'collapse',
 'colleague',
 'colleagues',
 'collect',
 'collection',
 'collector',
 'college',
 'collide',
 'collision',
 'colonel',
 'colony',
 'color',
 'colorado',
 'colorful',
 'coma',
 'combat',
 'combined',
 'come',
 'comeback',
 'comedian',
 'comedic',
 'comedy',
 'comes',
 'comet',
 'comfort',
 'comic',
 'comics',
 'coming',
 'comingofage',
 'comingout',
 'command',
 'commander',
 'commercial',
 'commit',
 'commitment',
 'committed',
 'common',
 'communication',
 'community',
 'companion',
 'company',
 'compete',
 'competing',
 'competition',
 'complete',
 'completely',
 'complex',
 'complicated',
 'complications',
 'composer',
 'computer',
 'computervirus',
 'conan',
 'concert',
 'conclusion',
 'condition',
 'confederate',
 'confession',
 'confidence',
 'confident',
 'conflict',
 'confront',
 'confronted',
 'confronts',
 'confused',
 'congress',
 'conman',
 'connected',
 'connection',
 'connell',
 'connor',
 'conquer',
 'conscience',
 'consequences',
 'conservative',
 'considered',
 'conspiracy',
 'conspire',
 'constant',
 'constantly',
 'construction',
 'consumed',
 'contact',
 'contain',
 'contemporary',
 'contend',
 'contest',
 'continue',
 'continues',
 'continuing',
 'contract',
 'control',
 'controlled',
 'controlling',
 'controversial',
 'convention',
 'converge',
 'convict',
 'convicted',
 'convince',
 'convinced',
 'convinces',
 'cook',
 'cooking',
 'cool',
 'cooper',
 'cop',
 'cope',
 'cops',
 'core',
 'corner',
 'corners',
 'corporate',
 'corporation',
 'corpse',
 'corrupt',
 'corruption',
 'cost',
 ...]

Step 10:

Let's find the cosine_similarity among the movies. Go ahead and run the following code lines in your project to see the results.

In [45]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_similarity(vectors).shape

(4806, 4806)

In [46]:
similarity = cosine_similarity(vectors)

In [47]:
similarity[0]

array([1.        , 0.08964215, 0.05976143, ..., 0.02519763, 0.02817181,
       0.        ])

In [48]:
sorted(list(enumerate(similarity[0])),reverse =True , key = lambda x:x[1])[1:6]

[(539, 0.26089696604360174),
 (1194, 0.2581988897471611),
 (507, 0.25302403842552984),
 (260, 0.25110592822973776),
 (1216, 0.24944382578492943)]

Step 11:

Finally, create a recommendation function based on the cosine_similarity. This function should recommend the 5 most similar movies.

In [49]:
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0] ##fetching the movie index
    distances = similarity[movie_index]
    movie_list = sorted(list(enumerate(distances)),reverse =True , key = lambda x:x[1])[1:6]
    
    for i in movie_list:
        print(new_df.iloc[i[0]].title)

Step 12:

Check your recommender system by introducing a movie. Run to see the recommendations.

In [54]:
recommend('Superman')

Superman II
Superman Returns
Superman III
Superman IV: The Quest for Peace
Man of Steel